*{



	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    display: block;
    margin: 0 auto;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

}

.wrap{
	width: 100%;
}

ul.tabs{
      margin: 0px 0px 0px 8px;
	    border-bottom: 1px solid rgb(246 243 243)
			border-top: 3px solid #e5e5e5;
	    width: 100%;
      width: 98%;
	    list-style: none;
	    display: flex;
	    font-weight: 700;
	    text-transform: uppercase;
	    font-family: Univers,Helvetica,Arial,sans-serif;
	    font-size: 3rem;


}

ul.tabs li a{
	height: 100%;
  width: 100%;
	color: #ffffff;
	text-decoration: none;
	font-size: 40px;
	text-align: center;
	padding: 2px 0px;
}
.list1
	{

		    display: inline-block;
		    background-color: #ffbfd6;
		    color: #000;

		    cursor: pointer;
		    margin: 0 5px 0 0;
		    font-family: Univers,Helvetica,Arial,sans-serif;
		    text-transform: uppercase;
		    font-weight: 700;
		}
.list2
	{

		    display: inline-block;
		    background-color: #ffbfd6;
		    color: #000;

		    cursor: pointer;
		    margin: 0 5px 0 0;
		    font-family: Univers,Helvetica,Arial,sans-serif;
		    text-transform: uppercase;
		    font-weight: 700;
		}
.list3
		{

			    display: inline-block;
			    background-color: #ffbfd6;
			    color: #000;

			    cursor: pointer;
			    margin: 0 5px 0 0;
			    font-family: Univers,Helvetica,Arial,sans-serif;
			    text-transform: uppercase;
			    font-weight: 700;
			}
.list4
			{

				    display: inline-block;
				    background-color: #ffbfd6;
				    color: #000;

				    cursor: pointer;
				    margin: 0 5px 0 0;
				    font-family: Univers,Helvetica,Arial,sans-serif;
				    text-transform: uppercase;
				    font-weight: 700;
				}

.pr01{

			width: 100% ! important;
			height: 10915px;
			display: block;
			margin: 0px !important;
padding: 0px !important;
background-color: transparent;
border: 0px !important;
			}

ul.tabs li{
	width: 25%;
	display: flex; align-items: center; justify-content: center;
}



.active{

	background-color: #ff5e99;
	height: 100%;
	width: 100%;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 0px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 0px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 0px;
	}
}
.tab1{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;


	}

.container{
    width: 100%;

    margin: auto;

}

.lbl-menu{
	display: flex;
	justify-content: space-around;
	font-weight: 700;
	text-transform: uppercase;
	color: #4f5661;
	font-size: 1rem;
	text-decoration: none;
	font-family: Univers,Helvetica,Arial,sans-serif;
	padding: 20px 0px;
	background: #ffffff;
}
lbl-menu label{
    display: inline-block;
    padding: 20px;
    color: #dc0a0a;
    cursor: pointer;
    transition: all 400ms ease;
}
.lbl-menu label:hover{
    background: rgb(255 48 188 / 80%);
		height: 100%;
}
.content{
    position: relative;
}
.content div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 0px;
    background: #fff;
    padding-bottom: 0px;
}
#radio1,#radio2,#radio3,#radio4{
    display: none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.content div:after{
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 100%;
    left: 28px;
}
.content .tab2:after{
    left: 382px;
}
.content .tab3:after{
    left: 649px;
}
.content .tab4:after{
    left: 920px;
}

img {
    width: 350px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0, .16),
                0 2px 5px rgba(0,0,0, .1);
}

.container {

}

.tab-container {

    list-style: none;
    position: relative;
}

 input[type="radio"] {
    display: none;
}

.tab-container  li {
    float: left;
    display: block;
}
h1 {

		text-align: center;
    top: 70px;
    margin: 0px;
    font-size: 32px;
}
.hqbabes b {
	    text-decoration: none;
    display: inline-block;
		text-align: center;
    margin: 0;
    padding: 0 0.27em 0.1em 0.05em !important;
    height: 1.27em;
    letter-spacing: -.2em;
    border-radius: 0.12em;
}
.hqbabes b, nav a:hover, nav a.selected, #menu_btn:hover, #babes_nav a:hover, #babes_nav a.selected, .pics, #pages a:hover, #pages a.selected, #c_toplist p, #c_toplist a b, #c_toplist a:hover, #footer b:hover {
    background: #FF5E99!important;
}

.hqbabes b, #menu_btn, nav a, #babes_nav a, .g b, .b b, .s b, .t b, .i b, .mpt b, .g a, .b a, .s a, .t a, .i a, .desc, .desc a, .slideshow, .pics, #pages a, #pages #count b, #c_toplist, #c_toplist a, .pplayer a, .pplayer ul, .pplayer .headline {
    color: #fff;
}


element.style {
}
.hqbabes b {
    display: inline-block;
    margin: 0;
    padding: 0 0.27em 0.1em 0.05em !important;
    height: 1.27em;
    letter-spacing: -.2em;
    border-radius: 0.12em;
}
.hqbabes b, #menu_btn, nav a, #babes_nav a, .g b, .b b, .s b, .t b, .i b, .mpt b, .g a, .b a, .s a, .t a, .i a, .desc, .desc a, .slideshow, .pics, #pages a, #pages #count b, #c_toplist, #c_toplist a, .pplayer a, .pplayer ul, .pplayer .headline {
    color: #fff;
}
.hqbabes b, nav a:hover, nav a.selected, #menu_btn:hover, #babes_nav a:hover, #babes_nav a.selected, .pics, #pages a:hover, #pages a.selected, #c_toplist p, #c_toplist a b, #c_toplist a:hover, #footer b:hover {
    background: #FF5E99!important;
}
user agent stylesheet
b {
    font-weight: bold;
}
.hqbabes {
    font-weight: 700;
    color: #000;
    white-space: nowrap;
		font-size: 2rem;
}
#header {
    position: fixed;
    top: 0;
    margin: 0 1px;
    padding: 5px 0 3px;
    font: 16px verdana;
    text-align: right;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.tab-container label {
	  font-size: 37px;
    display: inline-block;
    background-color: #ffbfd6;
    color: #000;
    padding: 0px 75px;
    cursor: pointer;
    margin: 3px 0px 0px 7px;
		font-family: Univers,Helvetica,Arial,sans-serif;
		text-transform: uppercase;
		font-weight: 700;


}

.tab-container [id^="tab"]:checked + label {
    background-color: #FF5E99!important;
}

/* tab-content style */
.tab-content {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    width: 100%;
    position: absolute;
    top: 56px;
    left: 0;
    border-radius: 0 5px 5px 5px;

    display: none;

}

.tab-container [id^="tab"]:checked ~ .tab-content {
    display: block;
}

.inner {

}

.inner-left {

}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
    line-height: 1.2;
}

p {
    margin-bottom: 15px;
}

.social {
    display: flex;
    align-items: center;
}

.social .icon {
    background-color: var(--color-primary);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.social .icon:hover {
    color: #006181;
    background-color: var(--color-white);
    transform:translateY(-2px) ;
}

/* Button style start */
.btn {
    display: inline-block;
    color: var(--color-white);
    font-size: 15px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid var(--color-white);
    margin-top: 10px;

    transition: all .2s ease-in-out;

}

.btn span {
    margin-left: 5px;
    transition: margin-left .3s ease-in-out;
}

.btn:hover {
    background: var(--color-white);
    color: #000;
}

.btn:hover span {
    margin-left: 15px;
}
:root {
    --color-primary: #006181;
    --color-primary-dark: rgba(0, 77, 102, 0.931);

    --color-white: #f3f3f3;
}
{font-size: 1rem; */
border-radius: 10px;
display: inline-block;
background-color: #4f5661;
color: #000;
padding: 13px 40px;
cursor: pointer;
margin: 0 1px 0 0;
font-family: Univers,Helvetica,Arial,sans-serif;

}

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  bbb
.pr01{

			width: 100% ! important;
			height: 10915px;
			display: block;
			margin: 0px !important;
padding: 0px !important;
background-color: transparent;
border: 0px !important;
			}

* {

  	margin: 0;
  	padding: 0;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}



img {
    width: 350px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0, .16),
                0 2px 5px rgba(0,0,0, .1);
}

.leo {
  width: 100%;

  margin: auto;
}

.isi-leo {
  list-style: none;
  position: relative;
}

 input[type="radio"] {
    display: none;
}

.isi-leo  li {
  float: left;
  display: block;
}

.isi-leo label {
  font-size: 37px;
  display: inline-block;
  background-color: #ffbfd6;
  color: #000;
  padding: 0px 75px;
  cursor: pointer;
  margin: 3px 0px 0px 7px;
  font-family: Univers,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.isi-leo [id^="isi"]:checked + label {
    background-color: #FF5E99!important;
}

/* isi-velo style */
.isi-velo {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  width: 100%;
  position: absolute;
  top: 56px;
  left: 0;
  border-radius: 0 5px 5px 5px;

  display: none;

}

.isi-leo [id^="isi"]:checked ~ .isi-velo {
    display: block;
}

.bat {

}

.bat-left {

}

h3 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: capitalize;
  line-height: 1.2;
}

p {
    margin-bottom: 15px;
}

.social {
  display: flex;
  align-items: center;
}

.social .icon {
  background-color: var(--color-primary);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.social .icon:hover {
  color: #006181;
  background-color: var(--color-white);
  transform:translateY(-2px) ;
}

/* Button style start */
.btn {
  display: inline-block;
  color: var(--color-white);
  font-size: 15px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid var(--color-white);
  margin-top: 10px;

  transition: all .2s ease-in-out;

}

.btn span {
  margin-left: 5px;
  transition: margin-left .3s ease-in-out;
}

.btn:hover {
  background: var(--color-white);
  color: #000;
}

.btn:hover span {
    margin-left: 15px;
}

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx   33333333   xxxxxxxxxxxxxxxxxxxxxxxxxx

:root {
    --color-primary: #006181;
    --color-primary-dark: rgba(0, 77, 102, 0.931);

    --color-white: #f3f3f3;
}
.pr01{

			width: 100% ! important;
			height: 10915px;
			display: block;
			margin: 0px !important;
padding: 0px !important;
background-color: transparent;
border: 0px !important;
			}

* {

  	margin: 0;
  	padding: 0;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

body {
  display: block;
  margin: 0 auto;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

img {
    width: 350px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0, .16),
                0 2px 5px rgba(0,0,0, .1);
}

.l1eo {
  width: 100%;

  margin: auto;
}

.i1si-l1eo {
  list-style: none;
  position: relative;
}

 input[type="radio"] {
    display: none;
}

.i1si-l1eo  li {
  float: left;
  display: block;
}

.i1si-l1eo label {
  font-size: 37px;
  display: inline-block;
  background-color: #ffbfd6;
  color: #000;
  padding: 0px 75px;
  cursor: pointer;
  margin: 3px 0px 0px 7px;
  font-family: Univers,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.i1si-l1eo [id^="i1si"]:checked + label {
    background-color: #FF5E99!important;
}

/* i1si-velo style */
.i1si-velo {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  width: 100%;
  position: absolute;
  top: 56px;
  left: 0;
  border-radius: 0 5px 5px 5px;

  display: none;

}

.i1si-l1eo [id^="i1si"]:checked ~ .i1si-velo {
    display: block;
}

.b1at {

}

.b1at-left {

}

h3 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: capitalize;
  line-height: 1.2;
}

p {
    margin-bottom: 15px;
}

.social {
  display: flex;
  align-items: center;
}

.social .icon {
  background-color: var(--color-primary);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.social .icon:hover {
  color: #006181;
  background-color: var(--color-white);
  transform:translateY(-2px) ;
}

/* Button style start */
.btn {
  display: inline-block;
  color: var(--color-white);
  font-size: 15px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid var(--color-white);
  margin-top: 10px;

  transition: all .2s ease-in-out;

}

.btn span {
  margin-left: 5px;
  transition: margin-left .3s ease-in-out;
}

.btn:hover {
  background: var(--color-white);
  color: #000;
}

.btn:hover span {
    margin-left: 15px;
}
xxxxxxxxxxxxxxxxxxxxxxxxxx 4444444444444444444444        xxxxxxxxxxxxxxxxxxxxxxxxxx
.pr01{

			width: 100% ! important;
			height: 10915px;
			display: block;
			margin: 0px !important;
padding: 0px !important;
background-color: transparent;
border: 0px !important;
			}

* {

  	margin: 0;
  	padding: 0;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

body {
  display: block;
  margin: 0 auto;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

img {
    width: 350px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0, .16),
                0 2px 5px rgba(0,0,0, .1);
}

.kin {
  width: 100%;

  margin: auto;
}

.rab-kin {
  list-style: none;
  position: relative;
}

 input[type="radio"] {
    display: none;
}

.rab-kin  li {
  float: left;
  display: block;
}

.rab-kin label {
  font-size: 37px;
  display: inline-block;
  background-color: #ffbfd6;
  color: #000;
  padding: 0px 75px;
  cursor: pointer;
  margin: 3px 0px 0px 7px;
  font-family: Univers,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.rab-kin [id^="rab"]:checked + label {
    background-color: #FF5E99!important;
}

/* rab-kor style */
.rab-kor {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  width: 100%;
  position: absolute;
  top: 56px;
  left: 0;
  border-radius: 0 5px 5px 5px;

  display: none;

}

.rab-kin [id^="rab"]:checked ~ .rab-kor {
    display: block;
}

.men {

}

.men-left {

}

h3 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: capitalize;
  line-height: 1.2;
}

p {
    margin-bottom: 15px;
}

.social {
  display: flex;
  align-items: center;
}

.social .icon {
  background-color: var(--color-primary);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.social .icon:hover {
  color: #006181;
  background-color: var(--color-white);
  transform:translateY(-2px) ;
}

/* Button style start */
.btn {
  display: inline-block;
  color: var(--color-white);
  font-size: 15px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid var(--color-white);
  margin-top: 10px;

  transition: all .2s ease-in-out;

}

.btn span {
  margin-left: 5px;
  transition: margin-left .3s ease-in-out;
}

.btn:hover {
  background: var(--color-white);
  color: #000;
}

.btn:hover span {
    margin-left: 15px;
}
